{% extends 'base.html.twig' %}

{% block body %}
<main class="flex-1 relative ...">
    <div v-if="showForm" class="absolute inset-0 z-50 bg-slate-950/80 backdrop-blur-sm flex items-center justify-center p-4">
        <activity-form @saved="onActivitySaved" @close="showForm = false"></activity-form>
    </div>
</main>

<script type="text/x-template" id="recent-activities-template">
    {% include 'activity/recentActivity.html.twig' %}
</script>

<script type="text/x-template" id="activity-form-template">
    {% include 'activity/activityForm.html.twig' %}
</script>
<div id="activity-app" class="min-h-screen bg-slate-950 flex flex-col lg:flex-row">
    <aside class="w-full lg:w-80 ...">
        <recent-activities :activities="activities"></recent-activities>
    </aside>
</div>

<script type="text/x-template" id="recent-activities-template">
    {% include 'activity/recentActivity.html.twig' %}
</script>
{% endblock %}