<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fitness Tracker{% endblock %}</title>
        
        {% block stylesheets %}
            {# Aquí se carga Tailwind #}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {# Importmap carga el JS principal #}
            {{ importmap('app') }}
        {% endblock %}
    </body>
</html>